body {
    margin: 0;
    padding: 0;
    background-image: -webkit-linear-gradient(#FFD194, #BC1324);
    height: 100%;
}

/* Title*/
h1 {
   font-family: 'Playfair Display', serif;
   color: white;
   font-size: 100px;
   line-height: 76px;
   margin: 0;
   padding: 100px;
   position: relative;
   text-align: center;
   top: 0;
   text-transform: uppercase;
   font-weight: bold;
   background-image: url(http://www.zodiachoroscopesigns.com/zodiac-sign-love-matches-1.png);
   background-repeat: no-repeat;
   background-size: cover;
    background-attachment: fixed;
   height: 100%;
   overflow-y: auto;
   left: 0;
   width: 84%;
   z-index: 1;
    height: 200px;
  }

/* Signs name*/
h3 {
    font-family: 'Amatic SC', sans-serif;
    color: white;
    font-size: 40px;
    line-height: 30px;
    margin: 0
    text-align: center;
    top: 20%;
    font-weight: bold;
}

/* Dates */
h5 {
    font-family: Georgia;
    color: white;
    font-size: 20px;
    line-height: 15px;
    margin: 0
    position: relative;
    text-align: center;
    top: 20%;
    word-spacing: 0.05em;
    letter-spacing: 0.02em;
    font-weight: bold;
}

/* links*/
a {
  background-color: #14213D;
  color: #FFF;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  padding: 14px;
  background-image: -webkit-linear-gradient(#FFD194, #BC1324);
  margin: 0px 0px 50px 0px;
}

.body {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0px;
  text-align: center;
  background-image:fixed;
}

.row {
  box-sizing: border-box;
  width: 100%;
  margin: 20px auto;
  padding: 20px 20px;
  text-align: center;
  background-image:fixed;
}

.signs {
  list-style: none;
  margin: 10px 50px;
  display: inline-block;
  height: 520px;
  text-align: center;
  width: 270px;
  background: -webkit-gradient(linear, left top, left bottom, from(#34495e), to(#000000)) fixed;
}
